body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.container.mt-4 {
    flex: 1;
}

.table-hover tbody tr:hover {
    background-color: #e9ecef;
}

.btn-sm {
    margin-right: 2px;
}

.input-group .btn {
    border-radius: 0;
}
.input-group .btn:last-child {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
